<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<section class="todoapp">
    <header class="header">
        <h1>注册</h1>
        <form action="{% url 'register' %}" method="post">
            {# 每个 post 表单都要 csrf 验证 #}
            {% csrf_token %}
            <input type="text" class="new-todo" name="username" placeholder="请输入用户名">
            <input type="text" class="new-todo" name="password" placeholder="请输入密码">
            <div class="center">
                <button class="confirm-button" type="submit">注册</button>
            </div>
        </form>
    </header>
</section>
<footer class="warn">
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</footer>
</body>
</html>